<footer class="footer">
    <div class="container">

        <div class="footer__inner">
            <div class="footer__block">
                    <div class="footer__title">Location</div>
                    <adress class = "footer__adress">
                        <div>3491 Melrose Place</div>
                        <div>Beverly Hills, CA 90210</div>
                    </adress>  
            </div>

            <div class="footer__block">
                <div class="footer__title">Share with Love</div>
                <div class = "social  social--footer">
                    <a class="social__item" href ="#" target = "_blank">
                        <svg class = "social__icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a class="social__item" href ="#" target = "_blank">
                        <svg class = "social__icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a class="social__item" href ="#" target = "_blank">
                        <svg class = "social__icon">
                            <use xlink:href="#linkedIn"></use>
                        </svg>
                    </a>
                </div>  
            </div>

            <div class="footer__block">
                <div class="footer__title">About Pizza Pizza</div>
                <div class="footer__text">
                    Cras justo odio, dapibus ac 
                    facilisis in, 
                    egestas eget quam. 
                    Donec ullamcorper nulla non 
                    metus auctor fringilla.
                </div> 
            </div>
            
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="copyright__text">
                <div>Copyright © 2015 Pizza Pizza. All Rights Reserved</div>
                <div>Made by <span>Egor Strupinski</span></div>
            </div>
        </div>
    </div>

</footer>