<footer class="footer">
    <div class="container">

        <div class="footer__inner">
            <div class="footer__block">
                    <div class="footer__title">Location</div>
                    <adress class = "footer__adress">
                        <div>Belarus, Minsk</div>
                        <div>Red Star street 33</div>
                    </adress>  
            </div>

            <div class="footer__block">
                <div class="footer__title">Contact Info</div>
                <div class="footer__text">
                    +375 (29) 584-35-78<br>
                    ivan.shastakou@leverx.com<br>
                    ivan_gavrilovich@epam.com
                </div> 
            </div>

            <div class="footer__block">
                <div class="footer__title">About EMS</div>
                <div class="footer__text">
                    Cutting edge solution in 
                    project monitoring field
                </div> 
            </div>
            
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="copyright__text">
                <div>Copyright © 2021 Employee Management Service. All Rights Reserved</div>
                <div>Made by <span>Ivan Gavrilovich & Ivan Shestakov</span></div>
            </div>
        </div>
    </div>

</footer>