<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo" href="../index/features.php">
                    <!-- <img class="logo" height="60" width="60" src="../assets/images/logo.svg" alt="">   -->
            </a>
            

            <nav class="nav">
                <a class="nav__link" href="../index/features.php">Team</a>
                <a class="nav__link" href="../projects/projects.php">Projects</a>
                <a class="nav__link" href="../index/features.php">Departments</a>
                <!-- <a class="nav__link" href="../index/features.php">Pizza</a>
                <a class="nav__link" href="../order/order.php">Order</a> -->
            </nav>
        </div>
    </div>
</header>
