<div class="team">
    <div class="container">
        <div class="team__inner">
            <div class="team__item">
                <div class="team__photo">
                    <img src={link_0} alt="">
                </div>
                <div class="team__name">{name_0}</div>
                <div class="team__prof">{prof_0}</div>
                <div class="team__text">
                    <p> 
                        {text_0}
                    </p>
                </div>
                <!-- <div class="social"> 
                    <a class="social__item" href ={facebook_0} target = "_blank">
                        <svg class = "social__icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a class="social__item" href ={inst_0} target = "_blank">
                        <svg class = "social__icon">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                    <a class="social__item" href ={linkedIn_0} target = "_blank">
                        <svg class = "social__icon">
                            <use xlink:href="#linkedIn"></use>
                        </svg>
                    </a>
                </div> -->
            </div>
            <div class="team__item">
                <div class="team__photo">
                    <img src={link_1} alt="">
                </div>
                <div class="team__name">{name_1}</div>
                <div class="team__prof">{prof_1}</div>
                <div class="team__text">
                    <p> 
                        {text_1}
                    </p>
                </div>
                    <!-- <div class="social"> 
                        <a class="social__item" href ={facebook_1} target = "_blank">
                            <svg class = "social__icon">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                        <a class="social__item" href ={inst_1} target = "_blank">
                            <svg class = "social__icon">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </a>
                        <a class="social__item" href ={linkedIn_1} target = "_blank">
                            <svg class = "social__icon">
                                <use xlink:href="#linkedIn"></use>
                            </svg>
                        </a>
                    </div> -->
            </div>
            <div class="team__item">
                <div class="team__photo">
                    <img src={link_2} alt="">
                </div>
                <div class="team__name">{name_2}</div>
                <div class="team__prof">{prof_2}</div>
                <div class="team__text">
                    <p> 
                        {text_2}
                    </p>
                </div>
                    <!-- <div class="social"> 
                        <a class="social__item" href ={facebook_2} target = "_blank">
                            <svg class = "social__icon">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                        <a class="social__item" href ={inst_2} target = "_blank">
                            <svg class = "social__icon">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </a>
                        <a class="social__item" href ={linkedIn_2} target = "_blank">
                            <svg class = "social__icon">
                                <use xlink:href="#linkedIn"></use>
                            </svg>
                        </a>
                    </div> -->
            </div>
            <div class="team__item">
                <div class="team__photo">
                    <img src={link_3} alt="">
                </div>
                <div class="team__name">{name_3}</div>
                <div class="team__prof">{prof_3}</div>
                    <div class="team__text">
                        <p> {text_3}
                        </p>
                    </div>
                    <!-- <div class="social"> 
                        <a class="social__item" href ={facebook_3} target = "_blank">
                            <svg class = "social__icon">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                        <a class="social__item" href ={inst_3} target = "_blank">
                            <svg class = "social__icon">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </a>
                        <a class="social__item" href ={linkedIn_3} target = "_blank">
                            <svg class = "social__icon">
                                <use xlink:href="#linkedIn"></use>
                            </svg>
                        </a>
                    </div> -->
            </div>
        </div>
    </div>
</div>