
<div class="works">
    <div class="works__item">
        <div class="works__photo">
            <img src = {link_0} alt="">
        </div>
        <div class="works__content">
            <div class="works__title">
                {works__title_0}
            </div>
            <div class="works__text">
                {works__text_0}
            </div>
        </div>
    </div>
    <div class="works__item">
        <div class="works__photo">
            <img src= {link_1} alt="">
        </div>
        <div class="works__content">
            <div class="works__title">
                {works__title_1}
            </div>
            <div class="works__text">
                {works__text_1}
            </div>
        </div>
    </div>
    <div class="works__item">
        <div class="works__photo">
            <img src= {link_2}  alt="">
        </div>
        <div class="works__content">
            <div class="works__title">
                {works__title_2}
            </div>
            <div class="works__text">
                {works__text_2}
            </div>
        </div>
    </div>
    <div class="works__item">
        <div class="works__photo">
            <img src= {link_3}  alt="">
        </div>
        <div class="works__content">
            <div class="works__title">
                {works__title_3}
            </div>
            <div class="works__text">
                {works__text_3}
            </div>
        </div>
    </div>
    <div class="works__item">
        <div class="works__photo">
            <img src= {link_4}  alt="">
        </div>
        <div class="works__content">
            <div class="works__title">
                {works__title_4}
            </div>
            <div class="works__text">
                {works__text_4}
            </div>
        </div>
    </div>
    <div class="works__item">
        <div class="works__photo">
            <img src= {link_5}  alt="">
        </div>
        <div class="works__content">
            <div class="works__title">
                {works__title_5}
            </div>
            <div class="works__text">
                {works__text_5}
            </div>
        </div>
    </div>
    <div class="works__item">
        <div class="works__photo">
            <img src= {link_6}  alt="">
        </div>
        <div class="works__content">
            <div class="works__title">
                {works__title_6}
            </div>
            <div class="works__text">
                {works__text_6}
            </div>
        </div>
    </div>
    <div class="works__item">
        <div class="works__photo">
            <img src= {link_7}  alt="">
        </div>
        <div class="works__content">
            <div class="works__title">
                {works__title_7}
            </div>
            <div class="works__text">
                {works__text_7}
            </div>
        </div>
    </div>
</div>